.input {
  margin: auto;
  width: 250px;
}

.cajaAgendaBtn {
  display: flex;
  justify-content: center;
}

.agendaBtn {
  color: white;
  background-color: #885053;
  width: 125px;
}

.cajaAgendas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.agendas {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: #aee5d8;
}

.cajaCloseBtn {
  position: absolute;
}

.closeBtn {
  position: relative;
  right: -110px;
}

.tableWrapper {
  margin: auto;
  width: 80%;
}

td {
  text-align: left;
  padding: 8px;
  border: 1px solid #373f47 !important;
}

thead,
th {
  background-color: #aee5d8;
  border: 2px solid #373f47 !important;
  padding: 8px;
}

.noContacts {
  text-align: center;
  color: #666;
  font-size: 1.5em;
  padding: 20px;
}

.cajaInputContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactBtn {
  justify-content: center;
  width: 100px;
  background-color: #aee5d8;
}
